
    @media only screen and (min-width: 992px)
    {
      .mobile{display: none;}
      .desktop{display: block;}

      .link{
        font-size: 24px;
      }

      .laptop_screen {
        width: 32%; 
        float: left; 
        margin-right: 1.9%;
      }

      .logo{
        width: 90px;
        height: auto;
        margin-left: 40%;
      }

      .desktop_navbar
      {
        margin-top: 60px;
        margin-bottom: 60px;

      }


      .intro{
        font-size: 20px;
        margin-top: 3.0em;
        text-align: center;
      }

      .link{
        font-size: 24px;
        margin-top: 2.4em;
      }

      .card{
        text-align: -webkit-left;
        text-align: left;
        min-height: 350px;
      }

      .thumb{
        margin-top: 0em;
        width: 200px;
        height: 200px;
        margin-left: 0%
      }

      .project_details
      {
        margin-top: 0em;
        margin-left: 0.3em;
        margin-right: 0.3em;
      }

      .project_details_1
      {
        margin-top: 0%;
        margin-left: 8%;
        margin-right: 0.5em;
      }

      .project_name
      {
            margin-bottom: 0.8em;
            margin-top: 1em;

      }

      .project_description
      {
        font-size: 1.2rem;
      }

      .readmore{
        font-size: 2.4rem;
      }

      .project_name_child
      {
        font-size: 0.9em;
      }

      .parallax
      {
        background-position: 10px 0px;
        height: 500px;
      }

      .description_content{
         font-size: 3.6rem;
         padding-top: 18%;
         padding-left: 48px;
         padding-right: 48px;
      }

      .description{
        height: 500px;
      }

      .copyright_info
      {
        text-align: right;
      }

      .footer{
        text-align: left;
        margin-top: 10rem;
        margin-bottom: 5rem;
      }



      .contact_info_ul
      {
        font: 1.8rem CallunaLghtRegular, Georgia, serif;
        text-align: left;
      }

      .copyright_info
      {
        font: 1.4rem CallunaLghtRegular, Georgia, serif;
      }

    }

    @media only screen and (min-width: 1280px)
    {
      .intro{
        text-align: left;
      }

      .project_description
      {
        font-size: 1.7rem;
      }


      .project_name_child
      {
        font-size: 1.3em;
      }

      .card{
        text-align: -webkit-left;
        text-align: left;
        min-height: 420px;
      }

      .thumb{
        margin-top: 0em;
        width: 250px;
        height: 250px;
        margin-left: 0%
      }
    }

    @media only screen and (max-width: 767px)
    {
      .desktop{display: none;}
      .mobile {display: block;
              margin: auto}


      .thumb{margin-top: 0em; margin-bottom: 0;}

      .project_description
      {
        font-size: 1.2rem;
      }


      .project_name_child
      {
        font-size: 0.9em;
      }

      .card{
        text-align: -webkit-left;
        text-align: center;
        min-height: 320px;
      }

      .thumb{
        margin-top: 0em;
        width: 200px;
        height: 200px;
        margin-left: 0%
      }

      .project_details
      {
        margin-bottom: 0.1em;
        margin-left: 0.1em;
        margin-right: 0.1em;
      }
    }



    @media only screen and (max-width: 992px) and (min-width: 768px)
    {
       .logo{
         width: 90px;
         height: auto;
       }



       .intro{
         font-size: 2.2rem;
       }

       .link{
         font-size: 24px;
       }

       .description_content{
          font-size: 3.0rem;
          padding-top: 25%;
          padding-left: 24px;
          padding-right: 24px;
       }

       .description{
         height: 500px;
       }

       .parallax{
         height: 500px;
         background-position: -200px 0px;
       }

       .laptop_screen {
        width: 32%; 
        float: left; 
        margin-right: 1.9%;
      }

       .thumb{
         width: 200px;
         height: 200px;
         margin-left: 0%;
       }

       .card{
        min-height: 350px;
       }

       .project_details{
        margin-left: 0.1em;
        margin-right: 0.1em;
       }

       .project_name_child
       {
         font-size: 0.9em;
       }

       .project_description
       {
         font-size: 1.2rem;
       }


       .contact_info_ul
       {
         font: 1.8rem CallunaLghtRegular, Georgia, serif;
       }

       .copyright_info
       {
         font: 1.4rem CallunaLghtRegular, Georgia, serif;
       }


       .mobile {display: block;
                 margin: auto}

        .desktop{display: none;}

    }



    @media only screen and (max-width: 800px) 
    {
      .parallax
      {
        background-attachment: scroll;
        background-position: -400px -50px;
        background-size: 200%;
      }



    }

    @media only screen and (max-width: 500px) 
    {
      .parallax
      {
        background-attachment: scroll;
        background-position: -400px -50px;
        background-size: 300%;
      }



    }




      .nav_link:hover{
        border-bottom: 2px solid black;
        padding-bottom: 4px;
      }

      .link:hover
      {
        color: black;
        text-decoration: none;
      }


      /*Provisional*/


      @media only screen and (min-width: 1450px)
    {
      .thumb
      {
        margin-top: 3%;
        margin-left: 0%;
        width: 300px;
        height: 300px;

      }

      .project_image_1mg
      {
        width: 100%;
      }

      .project_details
      {
        
        margin-left: none;
        
      }

      .project_name
      {
            margin-bottom: 0.8em;
            margin-top: 1em;
      }

      .project_name_child
      {
        font-size: 1.7em;
      }

      .project_description 
      {
        font-size: 2.0rem;
      }

      .readmore 
      {
        font-size: 3.4rem;
      }

      .logo
      {
        width: 100px;

      }
      .intro 
      {
        font-size: 30px;
        margin-top: 2.0em;

      }

      .link 
      {
      font-size: 34px;
      margin-top: 1.8em;
      }

      .card
      {
        min-height: 500px;
      }

      .description_content 
      {
        font-size: 4.8rem;
        padding-top: 16%;
        padding-left: 72px;
        padding-right: 72px;
      }

      .parallax
      {
        height: 600px;
      }

      .description
      {
        height: 600px;
      }

      .project_image_rt
      {
        width: 105%;
      }

      .project_image_techno
      {
        width: 105%
      }

      .project_image_resonance
      {
        width: 100%
      }

      .contact_info_ul
      {
        font-size: 2.4rem;
      }

      .copyright_info
      {
        font-size: 2.0rem;
      }

      .project-1-text-container
      {
        font-size: 3.4rem;
      }

      .project-link
      {
        font-size: 2.8rem;
      }

      .project-link-1
      {
        font-size: 2.8rem;
      }

      .level-two
      {
        font-size: 3.8rem;
        line-height: 6.0rem;
      }



    }

    
