.project-intro
    {
      padding: 8% 6% 16% 6%;
      background-color: rgb(26,30,35);
      text-align: center;
      width: 100%;
      color: white;

    }

    .project-title
    {
      font: 200 5.5rem/6.3rem "Bebas Neue", sans-serif;
      margin-bottom: 6%

    }

    .project-intro-text
    {
      font: 200 2.0rem/3.6rem "CallunaLghtRegular", serif;
      
    }

    .project-intro-text-div
    {
      margin-top: 36px;
    }

    .project-main-heads-white
    {
      
      background-color: #ffffff;
      padding-top: 26%;
      padding-bottom: 18%;
    }

    .project-main-heads-grey
    {
      padding-top: 26%;
      padding-bottom: 18%;
      background-color: #f4f6f7;
    }

    .project-heading-type-1
    {
      font: 200 4.0rem/4.5rem "Bebas Neue", sans-serif;
      margin-top: 0px;
      margin-bottom: 10.5%;
      
    }

    .project-content
    {
      font: 200 1.8rem/2.7rem "CallunaLghtRegular", sans-serif;
    }

    .project-heading-type-2
    {
      font: 200 2.7rem/3.6rem "Bebas Neue", sans-serif;
      margin-top: 6%;
      margin-bottom: 6%;
      

    }

    .project-heading-type-4
    {
      font: 200 2.0rem/2.8rem "Bebas Neue", sans-serif;
      margin-top: 8%;
      margin-bottom: 3%;
      text-align: center;
      

    }

    .project-heading-type-3
    {
      font: 200 1.8rem/3.6rem "Bebas Neue", sans-serif;
      margin-bottom: 3.6%;

    }

    .project-highlights
    {
      font: 200 2.4rem/3.6rem "CallunaLghtRegular", serif;
      color: rgb(181, 26, 23);
      margin-bottom: 0px;

    }

    .project-highlights-stats
    {
      font: 200 1.8rem/2.6rem "Calluna Italic", serif;
      color: rgb(181, 26, 23);
      margin-bottom: 0px;

    }

    .project-highlights-stats-number
    {
      font: 200 3.6rem/4.5rem "Calluna Italic", serif;
      color: rgb(181, 26, 23);
      margin-bottom: 4%;

    }



    .project-highlights-div
    {
      text-align: center;
      margin: 24px 0px 24px 0px;
      padding: 6.3% 0%;
      
    }

    .project-2-highlights-div
    {
      text-align: center;
      margin: 24px 0px 24px 0px;
      padding: 12.0% 0%;
      
    }

    .project-highlights-div:before
    {
      content: "";
      display: block;
      margin: auto;
      width: 20%;
      /* border-bottom: 1px solid black; */
      border-top: 1px solid rgba(0,0,0,0.30);
      padding-top: 6%;

    }

    .project-highlights-div:after
    {
      content: "";
      display: block;
      margin: auto;
      width: 20%;
      /* border-bottom: 1px solid black; */
      border-bottom: 1px solid rgba(0,0,0,0.30);
      padding-bottom: 6%;

    }

    .project-2-highlights-div:before
    {
      content: "";
      display: block;
      margin: auto;
      width: 20%;
      /* border-bottom: 1px solid black; */
      border-top: 1px solid rgba(0,0,0,0.30);
      padding-top: 8%;

    }

    .project-2-highlights-div:after
    {
      content: "";
      display: block;
      margin: auto;
      width: 20%;
      /* border-bottom: 1px solid black; */
      border-bottom: 1px solid rgba(0,0,0,0.30);
      padding-bottom: 9%;

    }

    .intro-image
    {
      width: 100%;
      
      background-color: #f4f6f7;

      
    }

    .intro-image-1
    {
      width: 100%;
      
      background-color: rgb(8,53,64);

      margin-top: 8%;

      
    }

    .intro-image-2
    {
      width: 100%;
      
      background-color: #0D3956;

      margin-top: 8%;

      
    }

    .objective-list
    {
      padding-left: 4.5%;
    }

    .objective-list-1
    {
      padding-left: 4.5%;
      font: 200 1.4rem/2.0rem "Calluna Italic", serif;
      margin-top: 4%;
    }





    .process-image
    {
      
      padding-bottom: 3%;
      
      width: 75%;
    
      display: block;
      margin: auto;
      margin-top: 11%;
    }

    .rest-images
    {
      width: 100%;
      margin-top: 14%;

    }

    .project-1-photo-description
    {
      font: 200 2.0rem/2.8rem "Calluna Italic", serif;
      margin-top: 4.8%;
      text-align: center;
      margin-bottom: 18.6%;
    }

    .project-1-photo-description-1
    {
      font: 200 2.0rem/2.8rem "Calluna Italic", serif;
      margin-top: 4.8%;
      text-align: center;
      margin-bottom: 14.0%;
    }

    .project-1-recom
    {
      width: 100%;
      background-color: rgba(26,30,35,0);
      padding: 0;
      text-align: left;
    }

    .project-1-text-container
    {
      font-family: CallunaLghtRegular, Georgia, serif;
      font-size: 1.8rem;
      color: black;
      padding: 6%;
      border-left: 4px solid rgba(239,83,80, 0.75);
      font-style: italic;
    }

    .project-link
    {
      font-family: CallunaLghtRegular, Georgia, serif;
      color: #EF5350;

    }

    .project-link:hover
    {
      font-family: CallunaLghtRegular, Georgia, serif;
      color: #EF5350;
      text-decoration: none;

    }

    .project-link-1
    {
      font-family: CallunaLghtRegular, Georgia, serif;
      color: #EF5350;

    }

    .project-link-1:hover
    {
      font-family: CallunaLghtRegular, Georgia, serif;
      color: #EF5350;
      text-decoration: none;

    }

    .arrow-right
    {
      margin-right: 0.8rem;
    }

    .project-1-back
    {
      background-color: rgb(26,30,35);
      width: 100%;
      padding: 8% 4.5%;




    }

    .one-below-another-1
    {
      margin-top:0;
    }

    .one-below-another
    {
      margin-top:0;
    }

    .one-below-another-2
    {
      margin-top:0;
    }


    .end-image
    {
      margin-bottom: 0;
    }

    .project-1-presentation
      {
        display: block;
        margin: auto;
      }

    @media only screen and (max-width: 767px)
    {
      .project-2-empathyimages-slider
      {
        display: none;
      }

      .project-2-empathyimages
      {
        display: block;
      }
    }



    @media only screen and (min-width: 768px)
    {
      .project-intro
      {
        padding: 20% 10% 18% 10%;
      }

      .project-title
      {
        font: 200 7.0rem/9.0rem "Bebas Neue", sans-serif;
      }

      .project-intro-text
      {
        font: 200 2.8rem/4.5rem "CallunaLghtRegular", serif;
      }

      .project-main-heads-grey
      {
        padding-top: 18%;
      }

      .project-main-heads-white
      {
        padding-top: 18%;
      }

      .project-margin-adjust
      {
        padding: 0% 12.0% 0% 10.5%;
      }

      .project-heading-type-1
      {
        margin-bottom: 6.0%;
        font: 200 5.6rem/7.2rem "Bebas Neue", sans-serif;
      }

      .project-content
      {
        font: 200 2.4rem/3.6rem "CallunaLghtRegular", sans-serif;
      }

      .objective-list-1
      {
        padding-left: 4.5%;
        font: 200 2.0rem/3.0rem "Calluna Italic", serif;
        margin-top: 4%;
      }

      .project-heading-type-2
      {
        font: 200 3.4rem/3.6rem "Bebas Neue", sans-serif;
      }

      .project-heading-type-4
      {
        font: 200 2.8rem/3.6rem "Bebas Neue", sans-serif;
      }

      .project-heading-type-3
      {
        font: 200 2.0rem/3.6rem "Bebas Neue", sans-serif;
        margin-top: 1%;
      }

      .project-highlights
      {
        font: 200 3.4rem/5.4rem"CallunaLghtRegular", serif;
      }

      .project-1-photo-description
      {
        font: 200 2.0rem/2.8rem "Calluna Italic", serif;
      }

      .project-1-photo-description-1
      {
        font: 200 2.0rem/2.8rem "Calluna Italic", serif;
        margin-top: 4.8%;
        text-align: center;
        margin-bottom: 14.0%;
      }

      .project-insight-description
      {
        font: 200 1.6rem/2.6rem "CallunaLghtRegular", serif;
        margin-top: 0;
        text-align: center;
      }

      .project-2-empathyimages
      {
        display: none;
      }

      .project-2-empathyimages-slider
      {
        display: block;
      }

      .persona-images
       {
        width: 80%;
       }

       .wireflow-images
       {
        height: 500px;
       }

       .em-images
      {
        height: 450px;
      }

      .presentation-images
      {
        width: 100%;
        height: 600px;
      }

      .project-1-empathy-images
      {
        width: 100%;
        height: 450px;
      }

      .project-1-jm-images
      {
        width: 100%;
        height: 400px;
      }

      .project-1-persona-images
      {
        width: 100%;
        height: 430px;
      }

      .em-images {
          height: 400px;
          width: 100%;
      }

      .persona-images {
          width: 100%;
          height: 700px;
      }

      .scenario-images
      {
        width: 100%;
        height: 600px;
      }

      .wireflow-images {
          height: 450px;
          width: 100%;
      }
      

      
    }

    @media only screen and (min-width: 1100px)
    {
      .project-intro
      {
        padding: 10% 24% 14% 24%;
      }

      .project-margin-adjust
      {
        padding: 0% 20.0% 0% 20%;
      }

      .project-main-heads-grey
      {
        padding-top: 10%;
        padding-bottom: 14%;
      }

      .project-main-heads-white
      {
        padding-top: 10%;
        padding-bottom: 14%;
      }

      .project-1-back
      {
        
        padding: 6% 10%;

      }

      .project-1-text-container
      {
        font-family: CallunaLghtRegular, Georgia, serif;
        font-size: 2.1rem;
        color: black;
        padding: 4% 6% 2% 6%;
        border-left: 4px solid rgba(239,83,80, 0.75);
        font-style: italic;
      }

      .project-1-photo-description-1
      {
        font: 200 2.0rem/2.8rem"Calluna Italic", serif;
        margin-top: 4.8%;
        text-align: center;
        margin-bottom: 14.0%;
      }

      .project-insight-description
      {
        font: 200 2.0rem/2.8rem "CallunaLghtRegular", serif;
        
      }
      
    
    }

    @media only screen and (min-width: 992px)
    {
      .one-below-another
      {
        margin-top: 14%;
      }

      .one-below-another-1
      {
        margin-top: 8%;
      }

      .one-below-another-2
      {
        margin-top:18%;
      }

      .project-margin-adjust-1
      {
        margin-top: 18%;
      }

      .project-margin-adjust-2
      {
        margin-bottom: 5%;
      }

      .rest-images
      {
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 8%
      }

       .persona-images
       {
        width: 60%;
       }

       .scenario-images
      {
        width: 85%;
      }
      .wireflow-images
      {
       height: 450px;
      }

      .em-images
      {
        height: 400px;
      }

      .presentation-images {
        width: 100%;
        height: 750px;
      }

      .project-1-empathy-images {
        width: 100%;
        height: 350px;
      }

      .project-1-jm-images
      {
        width: 100%;
        height: 395px;
      }

      .project-1-persona-images {
        width: 100%;
        height: 320px;
      }

      .scenario-images {
          width: 100%;
          height: 470px;
      }

      .persona-images {
          width: 100%;
          height: 600px;
      }

      .em-images {
          height: 300px;
          width: 100%;
      }



    }

    @media only screen and (min-width: 1100px)
    {
      

      
      .presentation-images
      {
        width: 100%;
        height: 550px;
      }

      .project-1-empathy-images
      {
        width: 100%;
        height: 390px;
      }

      .project-1-jm-images
      {
        width: 100%;
        height: 450px;
      }

      .project-1-persona-images
      {
        width: 100%;
        height: 360px;
      }

      .em-images {
          height: 340px;
          width: 100%;
      }

      .persona-images {
          width: 100%;
          height: 650px;
      }

      .scenario-images {
          width: 100%;
          height: 490px;
      }

      .wireflow-images {
          height: 400px;
          width: 100%;
      }
      
    }

    @media only screen and (min-width: 1200px)
    {
      

      
      .presentation-images
      {
        width: 100%;
        height: 750px;
      }

      

      .project-1-empathy-images
      {
        width: 100%;
        height: 530px;
      }

      .project-1-jm-images
      {
        width: 100%;
        height: 580px;
      }

      .project-1-persona-images
      {
        width: 100%;
        height: 490px;
      }

      .wireflow-images {
          height: 540px;
          width: 100%;
      }

      .scenario-images {
          width: 100%;
          height: 650px;
      }

      .persona-images {
          width: 100%;
          height: 750px;
      }

      .em-images {
          height: 460px;
          width: 100%;
      }

}

@media only screen and (min-width: 1300px)
{
    .project-title
      {
        font: 200 7.8rem/9.0rem "Bebas Neue", sans-serif;
      }
}
    
    @media only screen and (min-width: 1450px)
    {
      .project-margin-adjust
      {
        padding: 0% 10%;
      }

      .project-heading-type-3 
      {
        font: 200 3.2rem/5.2rem "Bebas Neue", sans-serif;
      }

      .project-heading-type-1 {
        
        font: 200 6.8rem/8.4rem "Bebas Neue", sans-serif;
      }

      .project-content {
          font: 200 3.4rem/4.8rem "CallunaLghtRegular", sans-serif;
      }

      .project-heading-type-2 {
          font: 200 4.6rem/5.2rem "Bebas Neue", sans-serif;
      }

      .project-1-photo-description {
          font: 200 2.0rem/2.8rem "Calluna Italic", serif;
      }

      .project-1-photo-description-1 {
          font: 200 2.0rem/2.8rem "Calluna Italic", serif;
      }

      .project-intro-text {
          font: 200 3.8rem/6.0rem "CallunaLghtRegular", serif;
      }

      .project-title {
          font: 200 9.4rem/9.0rem "Bebas Neue", sans-serif;
      }

      .project-highlights {
          font: 200 4.4rem/6.4rem"CallunaLghtRegular", serif;
      }

      .presentation-images {
          width: 100%;
          height: 850px;
      }

      .project-1-empathy-images
      {
        width: 100%;
        height: 700px;
      }

      .project-1-jm-images
      {
        width: 100%;
        height: 800px;
      }

      .project-1-persona-images
      {
        width: 100%;
        height: 680px;
      }

      .project-1-text-container
      {
        font-size: 3.4rem;

      }

      .project-link
      {
        /*font-size: 3.8rem;*/
      }

      .project-link-1
      {
        font-size: 3.4rem;
      }

      .em-images {
          width: 100%;
          height: 620px;
      }

      .persona-images {
          width: 100%;
          height: 800px;
      }

      .scenario-images {
          width: 100%;
          height: 650px;
      }

      .wireflow-images {
          height: 740px;
          width: 100%;
      }

      .project-highlights-stats-number {
          font: 200 4.8rem/6.0rem "Calluna Italic", serif;


      }

      .project-highlights-stats {
          font: 200 2.4rem/3.6rem "Calluna Italic", serif;

      }

      .one-below-another {
          margin-top: 8%;
      }

      



    }

    @media only screen and (max-width: 1449px)
    {
      .project_image_1mg
      {
        width: 80%;
      }

      .project_image_rt
      {
        width: 90%
      }

      .project_image_techno
      {
        width: 90%
      }

      .project_image_resonance
      {
        width: 80%
      }
    }

@media only screen and (min-width: 1700px)
{
    .project-title {
          font: 200 10rem/9.0rem "Bebas Neue", sans-serif;
      }
}

    .project-highlight-1
    {
      color: rgba(181,26,23, 1.0);
      
      font-weight: 100;
      font-family: "Calluna Italic"

    }

    .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





    
