* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*list-style: none;
  /*font-family: 'Gudea', sans-serif;*/
  font-weight: normal
}
body {
  
}

.slider1 {
  width: 100%;
  max-width: 900px;
  padding: 0 50px;
  margin: 25px auto 0;
  height: 600px;
  position: relative;
}
.slider1 ul, .slider1 ul li {
  width: 100%;
  height: 100%
}
.slider1 ul {
  position: relative;
  overflow: hidden;
  border-radius: 15px
}
.slider1 ul li {
  position: absolute;
  top: 0;
  left: -100%;
  background-size: cover; /* semon #f98686 */
  background-position: center;
  color: #fff;
  font-family: serif;
  background-size: 98%;
  background-repeat: no-repeat;
}
.slider1 ul li:first-of-type {
  background-image: url("../images/Persona-Uttardayi.jpg")
}
.slider1 ul li:nth-of-type(2) {
  background-image: url("../images/Persona-Anand.jpg")
}
.slider1 ul li:nth-of-type(3) {
  background-image: url("../images/Persona-Tripti.jpg")
}


/*.slider1 ul li:nth-of-type(4) {
  background-image: url("https://37.media.tumblr.com/tumblr_lxkb5dtDuF1r5o9ano1_500.jpg")
}
.slider1 ul li:last-of-type {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/03/08/5f/03085f3adecf31a0ded89aec58e5bbed.jpg")
}*/
.slider1 .controll1 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 44%;
  border-bottom: 3px solid #333;
  border-left: 3px solid #333;
  opacity: 0.35;
  cursor: pointer;
  color: #333
  
}
.slider1 .controll1:first-of-type {
  transform: rotate(45deg);
  left: 20px
}
.slider1 .controll1:last-of-type {
  transform: rotate(225deg);
  right: 20px
}
.slider1 .controll1:hover, .slider1 .controll1.active1 {
  border-color: #ef5350 /* rose */
  opacity: 1.0;
}
.slider1 ol {
  text-align: center;
  padding-top: 10px
}
.slider1 ol li {
  display: inline-block;
  margin-right: 5px;
}
.slider1 ol .fa {
  font-size: 20px;
  color: #333;
  opacity: 0.75;
  cursor: pointer;
  font-weight: normall
}
.slider1 ol li:hover .fa:before, .slider1 ol li.active1 .fa:before {
  content: "\f111"
}
/* .slider1 ul li.active1 {
  z-index: 999;
  left: 0
} */
@media(max-width: 490px) {
  h1 {font-size: 45px}
}
@media(max-width: 350px) {
  h1 {font-size: 25px}
}
